@media screen and (max-width: 980px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth,
	.sidebar-none.list-post .post-inner,
	.single .post-inner {
		max-width: 94%;
	}
		
	/* content */
	#content {
		padding: 7% 0 5%;
		width: 67.8%;
	}
	
	/* sidebar */
	#sidebar {
		padding: 7% 0 5%;
		width: 26.2%;
	}
	#sidebar .secondary {
		width: 47.4%;
	}
		
}

@media screen and (max-width: 760px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	#content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/* sidebar */
	#sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* reset absolute elements to static */
	#header .social-widget, 
	#site-logo, 
	#site-description  {
		position: static !important;
		float: none;
		clear: both;
	}
	
	/* header widget */
	.header-widget {
		position: static !important;
		float: none;
		text-align: left;
		clear: both;
		margin: 0;
	}
	.header-widget .widget {
		margin: 0 0 10px;
	}
	
	/* social widget */
	#header .social-widget {
		padding: 5px 0 0;
	}
	
	/************************************************************************************
	MOBILE NAV BUTTON
	*************************************************************************************/
	.mobile-button {
		font: normal 1em/1em 'Old Standard TT', serif;
		position: relative;
		width: 40px;
		height: 20px;
		margin: 20px auto 0;
		display: block;
		cursor: pointer;
		padding: 0 0 0 25px;
	}
	.mobile-button:after {
		padding: 1px;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: -1;
	}
	.mobile-button span {
		font: normal .93em/1.4em 'Oswald', sans-serif;
		color: #585858;
		text-transform: uppercase;
		vertical-align: middle;
	}

	/************************************************************************************
	MAIN NAV (MOBILE)
	*************************************************************************************/
	#main-nav-wrap {
		position: absolute;
		top: 5px;
		right: 95px;
		z-index: 1000;
	}
	
	/* menu icon */
	#menu-icon {
		background: url("images/menu-icon.png") no-repeat left center;
	}
	
	/* main nav */
	#main-nav {
		clear: both;
		position: absolute;
		width: 180px;
		z-index: 1000;
		padding: 10px 12px;
		background: #fff !important;
		border: solid 1px #000 !important;
		display: none;
		left: 50%;
		margin-left: -100px;
		margin-top: 21px;
	}
	#main-nav li {
		clear: both;
		float: none;
		padding: 5px 0 !important;
		position: static;
		display: block;
		border-top: 1px solid #e5e5e5;
	}
	#main-nav li:first-child {
		border: none;
	}
	#main-nav a, 
	#main-nav ul a {
		font: inherit !important;
		font-size: .85em !important;
		text-transform: inherit !important;
		background: none !important;
		width: auto !important;
		display: block !important;
		padding: 0 !important;
		color: #666 !important;
		border: none !important;
	}
	#main-nav a:hover, 
	#main-nav ul a:hover {
		background: none !important;
		color: #000 !important;
	}
	
	/* dropdown */
	#main-nav ul {
		position: static;
		display: block;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
	}
	#main-nav ul ul {
		margin: 0;
		text-align: center;
	}
	#main-nav ul ul:before {
		display: none;
	}
	
	/*
	FIXED HEADER
	================================================ */
	.header-on-scroll {
		height: 53px !important;
	}
	.fixed-header #header #searchform {
		margin-top: 10px;
	}
	.fixed-header .mobile-button {
		float: left;
		margin-left: 8px;
		margin-top: 16px;
	}
	.fixed-header #main-nav {
		left: 0;
		top: 44px;
		margin-left: 0;
	}
	.fixed-header #main-nav ul:before {
		left: 10px;
		margin-left: 0;
	}
	.fixed-header #main-nav ul {
		text-align: left;
	}
	.fixed-header #main-nav ul a {
		margin-left: 20px !important;
	}
	.fixed-header #main-nav ul ul a {
    	padding-left: 10px !important;
	}

}

@media screen and (max-width: 760px) and (max-height: 600px) {

	/* make fixed menu scroll on mobile */
	#main-nav {
		max-height: 320px;
		overflow: auto;
	}

}

@media screen and (max-width: 600px) {
	
	/************************************************************************************
	LOOPS WRAPPER
	*************************************************************************************/
	.loops-wrapper {
		margin-left: 0 !important;
	}

	/************************************************************************************
	POST
	*************************************************************************************/
	.post-media {
		margin-bottom: 10px;
	}
	.media-left .post-media,
	.media-right .post-media {
		float: none !important;
		margin-right: 0;
		margin-left: 0;
		width: 100% !important;
		max-width: 100% !important;
	}
	/* grid4 */
	.grid4 .post,
	.grid3 .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	
	/* list post */
	.sidebar-none.list-post .post {
		padding: 6% 0 5%;
	}

}

@media screen and (max-width: 480px) {

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* social widget */
	.social-widget {
		position: static;
		float: none;
		padding: 0;
	}

	/************************************************************************************
	POST
	*************************************************************************************/
	/* post */
	.post {
		width: auto !important;
		max-width: 100% !important;
		margin-left: 0 !important;
		float: none !important;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev, 
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist ul,
	.commentlist ol {
		margin: 0 0 0 5%;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 10px 10px 0;
	}

	/************************************************************************************
	GALLERY
	*************************************************************************************/
	#body .gallery-columns-1 img {
		max-width: 50px;
		padding: 3px;
	}

	/************************************************************************************
	FOOTER
	*************************************************************************************/
	#footer-logo {
		position: static;
	}
	.footer-nav {
		padding: 0;
	}

}

@media screen and (min-width: 761px) {

	/* ensure #nav is visible on desktop version */
	#main-nav {
		display: block !important;
	}
	#menu-icon span {
		display: none;
	}

}